<%= form_for(content) do |f| %>
  <% if content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.select :category, ['reproduction', 'puberty','relationships','LGBT'],prompt: 'select one' %>
  </div>

  <div class="field">
    <%= f.hidden_field :url%>
  </div>

  <div class="actions">
    <input type="filepicker" data-fp-apikey="ApoN20O3TACrtsYnFGrWIz" onchange="$('#content_url').attr('value',event.fpfile.url)">
    <%= f.submit %>
  </div>
  <script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
  
<% end %>
