<p id="notice"><%= notice %></p>

<h1>Contents</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contents.shuffle.each do |content| %>
      <div class="content_id-<%= content.id %> content-slide hidden">
        <h3><%= content.title %></h3>
        <img src="<%= content.url %>" >
        <button onClick="$('.content-slide.active').toggleClass('active').toggleClass('hidden').next().toggleClass('active').toggleClass('hidden');">next</button>
        <%= link_to 'Show', content %>
        <%= link_to 'Edit', edit_content_path(content) %>
        <%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Content', new_content_path %>
<script>
  $(document).ready(function(){
    $('.content-slide:first').toggleClass('active').toggleClass('hidden');
  })
</script>
